/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-light-gray: #EEEEEE;
  --basic-dark-gray: #666666;
  --basic-almost-white: #F2F2F2;
  --basic-gray: #A9A9A9;

  --special-muddy-brown: #503E33;
  --special-muddy-blue: #5496BD;
  --special-almost-white: #EBEBEB;
  --special-light-gray: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--special-light-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*main*/

.intro-welcome {
  background-image: url(../img/photo-sedona.jpg);
  min-height: 433px;
  text-align: center;
  padding-top: 77px;
  margin-top: auto;
  background-size: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--basic-light-blue);
}

.title h1 {
  text-align: center;
  margin: 42px 365px 50px 365px;
  width: 470px;
}

.title p {
  text-align: center;
  margin-bottom: 51px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/*main-header */

.main-header {
  margin: 0;
  padding: 0;
}

.main-header-logo {
  position: relative;
  margin-bottom: -68px;
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  display: inline-block;
  vertical-align: middle;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 73px;
  padding-right: 72px;
}

.site-navigation li:nth-child(2) {
  margin-right: 25%;
  padding-left: 35px;
}

/* main-navigation  */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-weight: bold;
  line-height: 26px;
  background-color: transparent;
}
.main-navigation a,
.list-item-catalog a {
  color: var(--basic-black);
}

.main-navigation ul .container{
  display: flex;
  justify-content: space-between;
}

.site-navigation a:hover,
.list-item-catalog a:hover,
.site-navigation a:focus,
.list-item-catalog a:focus {
  color: var(--basic-light-blue);
}

.site-navigation a:active,
.list-item-catalog a:active {
  color: var(--basic-dark-gray);
}

.footer-social ul,
.sorting ul,
.filter li {
  list-style: none;
}

.catalog-link a {
  color: var(--basic-light-brown);
}


/*features*/


.features-list {
  margin-top: 51px;
  padding: 0px;
  position: relative;
}

.features-second-block h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  margin-top: 100px;
}

.features-first-block h2,
.features-third-block h2 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  padding: 47px 120px 0 120px;
}

.features-fourth-block p,
.features-fourth-block h3 {
  padding-bottom: 10px;
}
.features-fourth-block h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  padding-top: 47px;
  margin-left: 60px;
  margin-right: 60px;
}

.features-first-block {
  display: grid;
  grid-template-columns: 400px;
  justify-content: start;
  text-align: center;
  box-sizing: border-box;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  height: 256px;
}


.features-third-block {
  display: grid;
  grid-template-columns: 400px;
  justify-content: end;
  text-align: center;
  box-sizing: border-box;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  height: 256px;
}

.features-first-block span,
.features-third-block span {
  position: absolute;
  max-height: 256px;
}

.features-first-block span {
  left: 400px;
}

.features-first-block p,
.features-third-block p {
  padding: 0 42px 0 45px;
  margin: 0;
}

.features-second-block,
.features-fourth-block {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  box-sizing: border-box;
}

.features-second-block {
  height: 330px;
  padding-top: 60px;
}

.features-fourth-block {
  background-color: var(--basic-light-gray);
  height: 256px;
}

.second-block-1 {
  width: 300px;
  background-image: url(../img/icon-1.svg);
  background-position: top;
  background-repeat: no-repeat;
}

.second-block-2 {
  width: 300px;
  background-image: url(../img/icon-3.svg);
  background-position: top;
  background-repeat: no-repeat;
}

.second-block-3 {
  width: 300px;
  background-image: url(../img/icon-2.svg);
  background-position: top;
  background-repeat: no-repeat;
}

.fourth-block-1,
.fourth-block-2,
.fourth-block-3 {
  width: 280px;
}

.fourth-block-3 p {
  margin-left: 20px;
  margin-right: 20px;
}



/*
.second-block-1 {
  display: grid;
  grid-template-columns: 400px;
  justify-content: start;
}

.second-block-3 {
  display: grid;
  grid-template-columns: 400px;
  justify-content: end;

}

.second-block-2 {
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
}



.features-second-block p {
  padding: 20px 55px 0 55px;
}

.second-block-1,
.fourth-block-1 {
  display: grid;
  grid-template-columns: 400px;
  justify-content: start;
  padding: 0;
  margin: 0;
}



.second-block-2,
.fourth-block-2 {
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  padding: 0;
  margin: 0;
}


}

.second-block-3,
.fourth-block-3 {
  display: grid;
  grid-template-columns: 400px;
  justify-content: end;
  padding: 0;
  margin: 0;
}



.features-second-block,
.features-fourth-block {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 397px;
}

.features-fourth-block {
  height: 256px;
  background-color: var(--basic-light-gray);
}

.fourth-block-1 p,
.fourth-block-2 p {
  padding-left: 60px;
  padding-right: 60px;
}

.fourth-block-3 p {
  padding-left: 75px;
  padding-right: 75px;
}
*/

/*чтобы убрать отступы*/




/*button*/

.button-blue {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
  font-weight: bold;
  margin-right: 6px;
  padding: 3px 16px 3px 17px;
  cursor: pointer;
}

.button-brown {
  font: inherit;
  text-align: center;
  width: 568px;
  height: 86px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-brown);
  border: none;
  font-weight: bold;
  padding: 3px 16px 3px 17px;
  cursor: pointer;
}

.button-show {
  font: inherit;
  text-align: center;
  width: 137px;
  padding: 6px 0;
  margin-left: 25%;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  cursor: pointer;
}

.button-show:hover,
.button-show:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--basic-blue);
}

.button-blue:active {
  background-color: var(--special-muddy-blue);
  color: var(--basic-light-blue);
  border: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--basic-brown);
}

.button-brown:active {
  background-color: var(--special-muddy-brown);
  color: var(--basic-gray);
  border: none;

}

.button-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.button-minus {
  position: absolute;
  font: inherit;
  color: var(--basic-gray);
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  width: 38px;
  height: 38px;
  border: none;
left: 166px;
}

.button-plus {
  position: absolute;
  font: inherit;
  color: var(--basic-gray);
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  width: 38px;
  height: 38px;
  border: none;
  left: 245px;
}




.button-minus:hover,
.button-minus:focus,
.button-plus:hover,
.button-plus:focus {
  color: var(--basic-black);
  cursor: pointer;
}

.button-minus:active,
.button-plus:active {
  color: var(--basic-light-blue);
  border: none;
}

/*затемнение текста кнопки при нажатии???*/

.subtitle-popap h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin-top: 58px;
  padding-bottom: 10px;
}

.subtitle-popap p {
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 24px;
}

.subtitle-popap {
  position: relative;
  text-align: center;
}


/*form-search*/

.form-search {
  position: absolute;
  left: 50%;
  margin-left: -284px;
  width: 568px;
  height: 395px;
  padding: 55px;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: var(--basic-white);
}


.form-search input:not([type=submit]) {
  font: inherit;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  box-sizing: border-box;
  color: var(--basic-black);
  background-color: var(--basic-almost-white);
  border: none;
}

.form-search label {
  font-weight: bold;
  line-height: 26px;
  padding-top: 4px;
}

.form-search input:hover:not([type=submit]) {
  background-color: var(--special-almost-white);
}

.form-search input:focus:not([type=submit]) {
  background-color: var(--basic-white);
  border: 2px solid var(--special-light-gray);
}


.form-search input[name="arrival-date"],
.form-search input[name="departure-date"] {
  width: 346px;
  height: 38px;
}

.form-search input[name="number-adults"],
.form-search input[name="number-children"] {
  width: 114px;
  height: 38px;
  margin: 0;
  text-align: center;
}

.data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-search input[type=submit] {
  width: 100%;
  height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 54px;
}

.form-search p {
  margin-top: 0;
}


/*calendar*/
.calendar1 {
  position: absolute;
  top: 62px;
  right: 65px;
  width: 21px;
  height: 23px;
  border: none;
  cursor: pointer;
  background-image: url(../img/calendar.svg);
}


.calendar1:hover {
  position: absolute;
  top: 62px;
  right: 65px;
  width: 21px;
  height: 23px;
  border: none;
  cursor: pointer;
  background-image: url(../img/calendar-hover.svg);
}


.calendar1:active {
  position: absolute;
  top: 62px;
  right: 65px;
  width: 21px;
  height: 23px;
  border: none;
  cursor: pointer;
  background-image: url(../img/calendar-active.svg);
}

.calendar2 {
  position: absolute;
  right: 65px;
  top: 145px;
  width: 21px;
  height: 23px;
  border: none;
  cursor: pointer;
  background-image: url(../img/calendar.svg);
}

.calendar2:hover {
  position: absolute;
  right: 65px;
  top: 145px;
  width: 21px;
  height: 23px;
  background-image: url(../img/calendar-hover.svg);
  cursor: pointer;
}

.calendar2:active {
  position: absolute;
  right: 65px;
  top: 145px;
  width: 21px;
  height: 23px;
  background-image: url(../img/calendar-active.svg);
  cursor: pointer;
}





.map iframe {
 border: none;
}


/*catalog*/

.list-catalog {
  position: relative;
}

.list-catalog span {
  color: var(--basic-dark-gray);
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-almost-white);
  position: absolute;
  margin-left: 47px;
  margin-top: 106px;
}

.photo-hotel,
.photo-motel,
.photo-apartments,
.sorting-result {
  margin-left: 73px;
}

.price-hotel,
.price-motel,
.price-apartments {
  padding-left: 30px;
}

.price-result-info {
  display: flex;
}

.price-result {
  display: block;
  margin: 0;
  padding: 0;
}

.rating {
  margin-right: 73px;
}

.rating-motel span {
  position: absolute;
  right: 75px;
  top: -3px;
}

.rating-apartments span {
  position: absolute;
  right: 75px;
  bottom: 25px;
}

.rating-hotel span {
  position: absolute;
  right: 75px;
  bottom: 180px;
}

.rating p {
  text-align: right;
  margin-top: 26px;
}

.wrapper {
  display: grid;
  grid-template-columns: 208px 285px 1fr;
  border-bottom: 1px solid var(--basic-light-gray);
}

.wrapper img {
  padding-top: 30px;
  padding-bottom: 25px;
}

.wrapper h3 {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 0;

  padding-top: 3px;
}


/*filter*/

.filter {
  min-height: 217px;
  color: var(--basic-white);
  padding-left: 72px;
  padding-top: 26px;
  box-sizing: border-box;
  background-size: initial;
  background-image: url(../img/background-filter.jpg);
  background-color: var(--basic-blue);
  background-position: top center;
  background-repeat: no-repeat;
}

.filter-block {
  display: grid;
  grid-template-columns: 253px 253px 1fr;
  align-content: start;
}

.filter-block li {
  padding-bottom: 25px;
}

.filter-item {
  padding-left: 230px;
  position: relative;
}

.filter-block legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-block ul {
  padding: 0;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-infrastructure input[type=checkbox],
.filter-type-of-housing input[type=checkbox] {
  display: none;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-white);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -38.5px;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -38.5px;
  width: 30px;
  height: 21px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 1px 0;
}

.filter-infrastructure label,
.filter-type-of-housing label {
   position: relative;
   display: block;
   margin-left: 40px;
   cursor: pointer;
   user-select: none;
}

.filter-infrastructure legend,
.filter-type-of-housing legend {
  padding-bottom: 4px;
}

.price-controls {
  border: 2px solid var(--basic-white);
  height: 36px;
  width: 317px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-image: url(../img/rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  padding-left: 55px;
  padding-top: 5px;
}

.price-controls input {
  border: none;
  width: 50px;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  color: var(--basic-white);
}


.range-controls {
  height: 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-gray);
  width: 317px;
}

.range-controls .bar {
  width: 263px;
  height: 2px;
  background: var(--basic-white);
}



.toggle-min {
  position: absolute;
  width: 4px;
  height: 4px;
  padding: 0;
  top: 80px;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-gray);
}

.toggle-max {
  position: absolute;
  width: 4px;
  height: 4px;
  padding: 0;
  top: 80px;
  right: 120px;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-gray);
}

.toggle:hover {
border-radius: 50%;
border: 9px solid var(--basic-white);
width: 4px;
height: 4px;
}


/* sorting*/

.sorting-result {
  font-weight: bold;
  font-size: 21px;
}

.sorting div {
  padding-left: 10px;
}

.sorting ul {
  margin: 0;
}

.sorting {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 18px;
  padding-top: 30px;
  padding-bottom: 31px;
  border-bottom: 1px solid var(--basic-light-gray);
}


.sorting ul {
  display: flex;
  flex-wrap: wrap;
}

.sorting li {
  display: block;
  padding-right: 32px;
}


.sorting-price {
  color: var(--basic-light-blue);
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  padding-left: 50px;
  margin: 0;
}

.sorting-price a {
  color: var(--basic-light-blue);
}

.sorting-type a,
.sorting-rating a {
  color: var(--basic-gray);
  border-bottom: 1px dotted;
}

.sorting-type a:hover,
.sorting-rating a:hover,
.sorting-rating a:focus,
.sorting-type a:focus {
  color: var(--basic-light-blue);
}

.sorting-type a:active,
.sorting-rating a:active {
  color: var(--basic-black);
}

.icon-up {
  padding-right: 3px;
  margin-left: 455px;
}

.icon-up:hover path,
.icon-down:hover path {
  fill: var(--basic-black);
  cursor: pointer;
}

.icon-up:active path,
.icon-down:active path {
  fill: var(--basic-blue);
  cursor: pointer;;
}

.icon-down {
  margin-right: 74px;
}


/*footer*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 30px;
  text-align: center;
  box-sizing: border-box;
}

.footer-contacts a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-contacts {
  margin-left: 100px;
  padding-top: 23px;
}

.footer-contacts p {
  margin: 0;
  padding-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 26px;
  margin: 0 90px 0 0;
  background-position: 5px 37px;
  color: var(--basic-black);
  padding-top: 35px;
}

.footer-link span {
  vertical-align: 50%;
}

.footer-link a {
  padding-left: 5px;
}

.footer-link a:hover path {
  fill: var(--basic-blue);
}

.footer-link a:active path {
fill: var(--basic-gray);
}

.footer-social {
  padding-top: 20px;

}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-social li {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--basic-light-blue);
}

.footer-social li:hover {
  background-color: var(--basic-blue);
}

.footer-social li:active {
  background-color: var(--special-muddy-blue);
}

.footer-social ul {
  padding-left: 0;
  list-style: none;
}

.fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.fb:active {
  background-image: url(../img/fb-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.youtube:active {
  background-image: url(../img/youtube-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.twitter {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.twitter:active {
  background-image: url(../img/twitter-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}
